{% extends 'todo/base.html' %}

{% block content %}

<form method="post" action="/todo/add">
     {% csrf_token %}
 <div class="w-25">
    <label  class="visually-hidden">Password</label>
    <input type="text" class="form-control" name="author" placeholder="Author" value={{element.Author}} required><br>
  </div>
  <div class="w-25">
    <label  class="visually-hidden">Password</label>
    <input type="number" class="form-control" name="pages" value={{element.pages}}  placeholder="Pages" required>
  </div>
<br>
  <div class="col-auto">

  <button class="btn btn-success" type="submit"> Edit</button>
  </div>
</form>


{%endblock%}